@import 'ui-variables';

atom-text-editor::shadow, .text .plain .simple {
  .plainsimple-heading {
    color: @text-color-info;
  }
  .plainsimple-number {
    color: @text-color-warning;
  }
  .plainsimple-emphasize {
    color: @text-color-success;
  }
  .plainsimple-citation {
    color: @text-color-highlight;
  }
}
